@media (max-width:768px) {
    .container{width: 95% !important;max-width:95% !important}
    .top-menu .golden img{width: 100% !important}
    .top-menu li{margin-left: 6% !important;font-size: 4vw !important;}
    .slider .padding{display: none}
    .slider .col-md-9{padding: 0%}
    .services .right{width: 30%}
    .services .left{width: 70%;padding-top: 7%}
    .h-s{display: none}
    .discount .height{height: 300px !important;}
    .overlay-2 a .flaticon{font-size: 20px !important}
    .brand .col-md-2{max-width: 43% !important;}
    .footer li{font-size: 4vw !important;}
    .footer .sb .col-md{width: 33%}
    .footer .center{font-size:2.5vw !important}
    .footer .col-md{padding-top: 4% !important}
    .footer .line{font-size: 4vw !important}
    .footer .bottom p{font-size: 2vw !important;}
}