.col, .col-md,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:right;direction:rtl;}
.top-menu .f{text-align: left}
.top-menu .b li{float: left;}
.menu .navbar-nav{padding: 0%;margin: 0% !important;margin-top: -5% !important;}
.menu .dropdown-menu{right: 0;}
.menu .tab{float: right;}
.menu .dropdown-menu::before {right: 23%;left: 74%;}
.menu .dropdown-menu::after {right: 22.8%;left: 74%;}
.flaticon-next::before{content:"\f107" !important}
.flaticon-back::before{content:"\f106" !important}
.slider .padding {padding:0% 0% 0% 1% !important;}
.product .link li::before {margin-right: -1%;}
.footer .col-md-4{float:right;;text-align: right;direction: rtl}
.footer{text-align: right}
.product-d .title li{float: right;margin-right: 13%;}
#search_param{border:1px solid #d4b04d;border-left:none;padding: 5px;border-radius:0px 10px 10px 0px}
#searchForm input{border:1px solid #d4b04d !important ;border-right:none !important}
#searchForm .btn-search{background: #d4b04d ;border-color:#d4b04d;border-radius:10px 0px 0px 10px;padding:5px 10px}
.product-d .tab-pane .custom_table thead tr th,
.product-d .tab-content,
.top-menu .a,
.menu .tab button,
.product-d .col-md-7,
.product-l,
.services,
.br-h ul{text-align: right !important}
.product-d .nav-tabs{padding: 0%;} 
.product-d .svg{float: left;text-align: left}
.product-d .side{float: right;}
.product-d .middle{float: right;}
.product-d .tab-pane .near_by_hotel_wrapper table tr td{text-align:right !important}
.float-left {float: right !important;} 
.rightLst .flaticon-next::before {content: "\f106" !important;}
.leftLst .flaticon-back::before {content: "\f107" !important;}
.paddding-rtl{padding:0% 1% 0% 0% !important;}
.rtl{padding: 2% 5% 0% 0% !important;}
.filter-header .title .flaticon{float: left;}
.discount .padding-right {padding-right: 1%;}
.product .link li {display: inline;margin-left: 2%;float: right;text-align: right;direction: rtl;}
.product .link{padding: 1% 1% 1%;}
/***-- h-s --***/
.h-s .col-md-12{padding: 0% 0% 0.3% 2% !important}
.h-s h5 span::before {right:0;bottom:19px;content: '';
  width:1%;height: 3px;position: absolute;background: #d4b04d;
}
.h-s h5{font-size: 15px;text-align: right;margin-right: 2%}
.h-s h5 .span::before {right:14%;bottom:19px;content:'';width: 86%;
  height: 3px;position: absolute;background: #d7d7d7;
}
/***-- h-s --***/
.c-profile-return{text-align: right}
.wrapper-dropdown-3 {text-align: right}
.wrapper-dropdown-3::before{right:90%;}
.location-n{text-align: right}