@font-face {
  font-family: sans;
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/IRANSansWeb(FaNum).eot');
  src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff2'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
  font-family: Mj_Dinar;
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Mj_Dinar One Light_p30download.com.ttf');
  src: url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('embedded-opentype'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('woff2'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('woff'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('truetype');
}
.font{font-family:Mj_Dinar;}
body{font-family: sans;}
.container{width: 90%;max-width:90%;}
.row{width:100%;margin:0%}
a{text-decoration: none !important;}
.back-gold{background:#d4b04d}
.color-gold{color: #d4b04d}
.br-h ul{padding: 0%;border-bottom:1px solid #d4b04d}
.br-h li{display: inline;}
.br-h a{color: #000}
.br-h a:hover{color: #d4b04d;transition: all .5s ease-in-out}
/***-- header --***/
/*top-menu*/
.top-menu .golden img{width: 30%}
.top-menu .col-md{padding: 0%}
.top-menu .b{text-align:right}
.top-menu .f{margin:0% !important}
.top-menu .b li{display: inline;margin-left:3%;font-size: 12px}
.top-menu ul{padding: 0%;margin-top: 1%;}
.top-menu a{color: #838382}

/*menu*/
.menu .navbar-brand .dropbtn img{width:17%;}
.menu .navbar-brand .dropdown{width: 32%}
.menu .dropbtn {background-color: transparent;color: black;padding: 8px 6px 5px;
  font-size: 13px;border: 1px solid #b5b5b4;border-radius: .25rem;width: 100%;
}
.menu .dropdown {position: relative;display: inline-block;}
.menu .dropdown-content {display: none;position: absolute;background-color: #f1f1f1;min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;text-align: right;
}
.menu .dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.menu .dropdown-content a:hover {background-color: #ddd;}
.menu .dropdown:hover .dropdown-content {display: block;margin-right: -2.5%;}
.menu .dropdown:hover .dropbtn {background-color: #000;color: #d4b04d;transition: all .5s ease-in-out}
.menu .dropdown-toggle::after {content:none}
.menu{border-bottom: 2px solid #838382;height: 65px;}
.menu .bg-light{background: transparent!important;}
.menu .navbar {padding:0% }
.menu li.dropdown:hover .dropdown-menu {opacity:1;height:auto;visibility: visible;}
.menu .navbar-nav .navbar {position: static;}
.menu .navbar-nav {position:static !important;margin-top: -5%;}
.menu .dropdown {position:static;}
.menu .dropdown-menu a {width:100%;}
.menu #navbarDropdown{padding:5% 0%;font-size:1vw}
.menu li{display: inline;}
.navbar-expand-lg .navbar-collapse{width: 40%;}
.menu .navbar .navbar-brand a{font-size:0.8vw;}
.menu .navbar .navbar-brand a span{font-size:1.2vw}
.navbar-brand .dropdown .dropdown-content a{padding: 3% 5% !important;}
/* .menu .dropdown-content::before {
  content: "";
  border-bottom: 15px solid #f1f1f1;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -8px;
  left: 23%;
  z-index: 2;
}
.menu .dropdown-content::after {
  content: "";
  border-bottom: 17px solid #000;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -10px;
  left: 21.8%;
  z-index: 1;
} */
.menu .navbar .navbar-brand a:hover{transition:all .5s ease-in-out;
  background:#000;color: #d4b04d;border-color:#000;
}
.menu .btn{border: 1px solid #b5b5b4}
.menu .navbar-brand{margin-right:0rem;}
.menu .navbar-brand .btn{padding:0px 5px !important}
.menu .dropdown-menu {width:75%;position:absolute;background:#fff;top:73%;
  transition:all 0.7s ease;height:0;display: block;opacity: 0;visibility:hidden;
  border-radius: 0px 0px 10px 10px; box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2)
}
.menu .dropdown-menu::before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -14px;
  left:23%;
  z-index: 10;
}
.menu .dropdown-menu::after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left:22.8%;
  z-index: 8;
}
/* Style the tab */
.menu .tablinks{font-size: 15px !important}
.menu .tablinks .flaticon{font-size: 12px;color:#d4b04d}
.menu .tab {float: left;width: 15%;}
/* Style the buttons inside the tab */
.menu .tab button {display: block;background-color: inherit;
  color: black;padding:0px 16px;width: 100%;border: none;outline: none;
  text-align: left;cursor: pointer;font-size: 17px;line-height:2;
}
/* Change background color of buttons on hover */
.menu .tabcontent a:hover,
.menu .tab button:hover {background-color:transparent;color:red;transition: all .3s ease-in-out;}
.menu .tabcontent a{color: #000}
/* Create an active/current "tab button" class */
.menu .tab button.active {color: red}
.menu .tabcontent img{width: 100%}
/* Style the tab content */
.menu .tabcontent {float: left;padding: 0px 12px;
  width: 85%;border-left: none;height: auto;display: none;
}
/* Clear floats after the tab */
.menu .clearfix::after {content: "";clear: both;display: table;}
/***-- header --***/
/***-- slider --***/

.slider .col-md-9,
.slider .col-md-3{padding: 0%;}
.slider .carousel-inner img {width: 100%;height: 100%;}
.slider .width{width: 100%}
.slider .bottom{margin-top:20px;}
.slider .padding{padding: 0% 1% 0% 0%}

/***-- slider --***/
/***-- services --***/

.services .bac{padding-top:1%}
.services .bac{background: #d7d7d7}
.services .flaticon{font-size:50px}
.services .col-md{padding: 0%}
.services h5{font-size:1vw;}
.services p{font-size:0.6vw;}
.services .left{padding-top: 7%}

/***-- services --***/
/***-- h-s --***/

.h-s .col-md-12{padding: 0% 0% 0.3% 2% !important}
.h-s h5 span::before {left: 0;bottom:19px;content: '';
  width:1%;height: 3px;position: absolute;background: #d4b04d;
}
.h-s h5{font-size: 15px}
.h-s h5 .span::before {left:14%;bottom:19px;content:'';width: 86%;
  height: 3px;position: absolute;background: #d7d7d7;
}

/***-- h-s --***/
/***-- product --***/

.product .col-md-3,
.product .col-md-9,
.product .col-md-3{padding: 0%}
.product .col-md-3:hover {transition: all 0.3s ease;
  box-shadow:20px 20px 20px 20px rgba(46,61,73,0.15)
}
.product .view-btn {background-color: #fff;color: #000;
  border-radius: 0 0 0 0;font-size: 14px;border: #fff;
}
.product .btn:hover {background-color: #d4b04d;color: #fff;
  transition: all 0.3s ease;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.product .card img:hover {animation: shake 0.5s;animation-iteration-count: infinite;}
.product .sid img{width: 100%;height: 100%;}
.product .link{padding:1% 0% 0%;background: #e1e1e1;width: 100%}
.product .link li{display: inline;margin-left: 2%;}
.product .link ul{padding: 0%}
.product .link ul a{color: #838382}
.product .link li::before{content: '';width:2px;height:3.5%;
  position: absolute;background: #838382;margin-left:-1%;margin-top:-0.2%;
}
.product .hom::before{content:none !important}
/***-- product --***/
/***-- baner --***/

.baner img{width: 100%}

/***-- baner --***/
/***-- discount --***/

.discount .col-md{padding: 0%}
.discount .padding-left{padding-right:1%;}
.discount .padding-right{padding-left:1%;}
.discount .col-md-4,
.discount .col-md-6,
.discount .col-md-8{padding: 0%}
.discount img{width: 100%}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#ads .card-notify-badge {position: absolute;left: -10px;top: -20px;background: #f2d900;
text-align: center;border-radius: 30px 30px 30px 30px; color: #000;padding: 5px 10px;font-size: 14px;
}
#ads .card-notify-year {position: absolute;right: 5px;top: 5px;background:#f3eff0;border-radius: 50%;
text-align: center;color:#a20511;font-size: 14px;width: 50px;height: 50px;padding: 15px 0 0 0;
}
#ads .card-detail-badge {background: #f2d900;text-align: center;font-size: 14px;   
border-radius: 30px 30px 30px 30px;color: #000;padding: 5px 10px;
}
#ads .card:hover {border-radius: 4px;transition: all 0.3s ease;
  background: #fff;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
#ads .card-image-overlay {font-size: 20px;}
#ads .card-image-overlay span {display: inline-block;}
#ads .ad-btn {text-transform: uppercase;overflow: hidden;position: relative;background-color: #e6de08;
  width: 150px;height: 40px;border-radius: 80px;font-size: 16px;line-height: 35px;margin: 20px auto 1px auto;
  text-align: center;border: 3px solid #e6de08;display: block;text-decoration: none;color: #000;
}
#ads .ad-btn:hover {background-color: #e6de08;color: #1e1717;border: 2px solid #e6de08;
  background: transparent;transition: all 0.3s ease;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
#ads .ad-title h5 {text-transform: uppercase;font-size: 18px;}
.discount .sid-left-a{background: #e18723;height: 100%;color: #fff}
.discount .sid-left-b{background: #1b5ca6;height: 100%;color: #fff}
.discount .sid-left-c{background: #338636;height: 100%;color: #fff}
.discount .sid-left-d{background: #818380;height: 100%;color: #fff}
.discount .ad-btn{background: #fff;padding: 4.5% 10% 3%;border-radius: 15px;color:#000}
.discount .ad-btn:hover{transition:all .5s ease-in-out;background:#000;color: #d4b04d}

/***-- discount --***/
/***-- product-t --***/

.product-t .col-md-2{padding: 0%}
.product-t img{width: 100%}
.product-t .border{margin: 4%;padding: 0% 1%;border: 0px !important;}
.product-t h5{font-size:1vw}
.product-t p{font-size:0.8vw}
.product-t a{color:#000}

/***-- product-t --***/
/***-- brand --***/

.brand .blog .carousel-indicators {left: 0;top: auto;bottom: -40px;}
.brand .blog .carousel-indicators li {background: #a3a3a3;border-radius: 50%;width: 8px;height: 8px;}
.brand .blog .carousel-indicators .active {background: #707070;}
.brand .col-md-12{padding: 0%;}
.brand .col-md-2{padding: 0%;max-width: 12.5%;}
.brand img{width: 70%}

/***-- brand --***/
/***-- hover --***/
.card {position: relative; width: 100%;}
.image {display: block;width: 100%;height: auto;}
.overlay {position: absolute;bottom: 0;left: 0;right: 0;
  background-color:rgba(212, 176, 77, 0.8); overflow: hidden; width: 100%; height: 0; transition: .5s ease;
}
.card:hover .overlay {height: 100%;}
.text-t { color: white;font-size: 20px;
  position: absolute;top: 50%;left: 50%; -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;
}
.overlay .btn {background: #fff;border: 1px solid #fff;}
.overlay a .flaticon{font-size:1.25vw}
.overlay a:hover{transition:all .5s ease-in-out;background:#000;color: #d4b04d;border-color:#000;border-radius:50% }
.border {position: relative;width:93%;}
.overlay-2 {position: absolute;bottom: 0;left: 100%;right: 0;
  background-color:rgba(0, 0, 0, 0.5);overflow: hidden; width: 0;height: 100%;transition: .5s ease;
}
.border:hover .overlay-2{width: 100%;left: 0;}
.text-x{color: white;font-size: 20px;
  position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);white-space: nowrap;
}
.overlay-2 .btn {background: #fff;border: 1px solid #fff;}
.overlay-2 a .flaticon{font-size:1.25vw}
.overlay-2 a:hover{transition:all .5s ease-in-out;background:#000;color: #d4b04d;border-color:#000;border-radius:50% }
/***-- hover --***/
/***-- footer --***/

.footer{background:#6d6f6c;color: #fff}
.footer ul{padding: 0% 2%}
.footer .col-md{padding:0% 2%}
.footer li{display: block;font-size: 1vw;line-height: 2;}
.footer li a{color: #fff}
.footer .center{font-size:0.9vw}
.footer .center .col-md{padding: 0%}
.footer .center img{width: 95%}
.footer .line{font-size: 0.8vw;line-height: 1.75;}
.footer .bottom{background: #5e5e5e;padding:1% 0%;text-align: center;}
.footer .bottom p{font-size:0.8vw;margin: 0%;}
.footer .color-code{width:100%;background: transparent;padding: 3%;
  border: 1px solid #eee;border-radius:5px;height:40px;color: #fff;
}

/***-- footer --***/
/***-- product-d --***/

.product-d .col-md-5,
.product-d .col-md-7{padding: 0%}
.product-d .cfg-btn {background-color:#eee;color: #d4b04d;display: inline-block;
  outline:0;cursor: pointer;width: 200px;border:0px;border-radius:5px;
  font-size: 1em;position: relative;
}
.product-d .cfg-btn:hover:not([disabled]) {color:#d4b04d;background: #000;transition: all .5s ease-in-out}
.product-d .mobile-magic .cfg-btn:hover:not([disabled]) { background: rgb(55, 181, 114); }
.product-d .cfg-btn[disabled] { opacity: .5; color: #808080; background: #ddd; }
.product-d .cfg-btn.btn-preview,
.product-d .cfg-btn.btn-preview:active,
.product-d .cfg-btn.btn-preview:focus {font-size: 1em;position: relative;display: block; margin: 10px auto;}
.product-d .cfg-btn,
.product-d .preview,
.product-d .app-figure,
.product-d .api-controls,
.product-d .wizard-settings,
.product-d .wizard-settings .inner,
.product-d .wizard-settings .footer,
.product-d .wizard-settings input,
.product-d .wizard-settings select {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;box-sizing: border-box;
}
.product-d .preview,
.product-d .wizard-settings { padding: 10px;border: 0;min-height: 1px;}
.product-d .preview {position: relative;}
.product-d .api-controls {text-align: center;}
.product-d .api-controls button,
.product-d .api-controls button:active,
.product-d .api-controls button:focus {width:11.5%;font-size: .6em;white-space: nowrap;}
.product-d .app-figure { border: 0px solid red; padding:0px;position: relative;text-align: center}
.product-d .selectors { margin-top: 10px; }
.product-d .selectors .mz-thumb img { max-width: 56px; }
.product-d .app-code-sample { max-width: 80%; margin: 30px auto 0;text-align: center;position: relative;}
.product-d .app-code-sample input[type="radio"] {display: none;}
.product-d .app-code-sample label {display: inline-block;padding: 2px 12px;margin: 0;font-size: .8em;
  text-decoration: none;cursor: pointer;border: 1px solid rgba(136, 136, 136, 0.5);color: #666;
  background-color: transparent;
}
.product-d .app-code-sample label:hover {border-color: rgb(253, 154, 30);
  background-color: rgb(253, 154, 30);color: #fff;
}
.product-d .app-code-sample input[type="radio"]:checked+label {border-color: rgba(110, 110, 110, 0.7) !important;
  background-color: rgb(110, 110, 110) !important;color: #fff;
}
.product-d .app-code-sample label:first-of-type {border-radius: 4px 0 0 4px;border-right-color: transparent;}
.product-d .app-code-sample label:last-of-type {border-radius: 0 4px 4px 0;border-left-color: transparent;}
.product-d .app-code-sample .app-code-holder {padding: 0;position: relative;margin: 15px 0;
  border: 1px solid #eee;border-radius: 0px;background-color: #fafafa;
}
.product-d .app-code-sample .app-code-holder > div {display: none;}
.product-d .app-code-sample .app-code-holder pre {
  text-align: left; white-space: pre-line;border: 0px solid #eee;border-radius: 0px;
  background-color: transparent;padding: 25px 50px 25px 25px;margin: 0;min-height: 25px;
}
.product-d .app-code-sample input[type="radio"]:nth-of-type(1):checked ~ .app-code-holder > div:nth-of-type(1) {
  display: block;
}
.product-d .app-code-sample input[type="radio"]:nth-of-type(2):checked ~ .app-code-holder > div:nth-of-type(2) {
  display: block;
}
.product-d .app-code-sample .app-code-holder .cfg-btn-copy { display: none; z-index: -1; position: absolute;
  top:10px; right: 10px;width: 44px;font-size: .65em;white-space: nowrap;margin: 0;padding: 4px;
}
.product-d .copy-msg {
  font: normal 11px/1.2em 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;
  color: #2a4d14;border: 1px solid #2a4d14;border-radius: 4px;position: absolute;top: 8px;
  left: 0;right: 0; width: 200px; max-width: 70%; padding: 4px;margin: 0px auto;text-align: center;
}
.product-d .copy-msg-failed {color: #b80c09;border-color: #b80c09;width: 430px;}
.product-d .mobile-magic .app-code-sample .cfg-btn-copy { display: none; }
.product-d #code-to-copy { position: absolute; width: 0; height: 0; top: -10000px; }
.product-d .lt-ie9-magic .app-code-sample { display: none; }
.product-d .wizard-settings {background-color: #4f4f4f;color: #a5a5a5;position: absolute;right: 0;width: 340px;}
.product-d .wizard-settings .inner {width: 100%;margin-bottom: 30px;}
.product-d .wizard-settings .footer {color: #c7d59f;font-size: .75em;width: 100%;
  position: relative;vertical-align: bottom;text-align: center;padding: 6px;margin-top: 10px;
}
.product-d .wizard-settings .footer a { color: inherit; text-decoration: none; }
.product-d .wizard-settings .footer a:hover { text-decoration: underline; }
.product-d .wizard-settings a { color: #cc9933; }
.product-d .wizard-settings a:hover { color: #dfb363; }
.product-d .wizard-settings table > tbody > tr > td { vertical-align: top; }
.product-d .wizard-settings table { min-width: 300px; max-width: 100%; font-size: .8em; margin: 0 auto; }
.product-d .wizard-settings table caption { font-size: 1.5em; padding: 16px 8px; }
.product-d .wizard-settings table td { padding: 4px 8px; }
.product-d .wizard-settings table td:first-child { white-space: nowrap; }
.product-d .wizard-settings table td:nth-child(2) { text-align: left; }
.product-d .wizard-settings table td .values {color: #a08794;
  font-size: 0.8em;line-height: 1.3em;display: block;max-width: 126px;
}
.product-d .wizard-settings table td .values:before { content: ''; display: block; }
.product-d .wizard-settings input,
.product-d .wizard-settings select {width: 126px;}
.product-d .wizard-settings input {padding: 0px 4px;}
.product-d .wizard-settings input[disabled] {color: #808080;background: #a7a7a7;border: 1px solid #a7a7a7;}
.product-d .preview { width: 70%; float: left; }
@media (min-width: 0px) {
  .product-d .preview { width: 100%; float: none; }
}

@media (min-width: 1024px) {
  .product-d .preview { width:100%; }
  .product-d .wizard-settings { top: 0; min-height: 100%; }
  .product-d .wizard-settings .inner { margin-top: 60px; }
  .product-d .wizard-settings .footer { position: absolute; bottom: 0; left: 0; }
  .product-d .wizard-settings .settings-controls {position: fixed;top: 0; right: 0;width: 340px;
      padding: 10px 0 0;text-align: center;background-color: inherit;
  }
}
@media screen and (max-width: 1024px) {
  .product-d .api-controls button,
  .product-d .api-controls button:active,
  .product-d .api-controls button:focus {width: 70px;}
}
@media screen and (max-width: 1023px) {
  .product-d .app-figure { width: 98% !important; margin: 50px auto; padding: 0; }
  .product-d .app-code-sample { display: none; }
  .product-d .wizard-settings { width: 100%; }
}
@media screen and (max-width: 600px) {
  .product-d .mz-thumb img { max-width: 39px; }
}
@media screen and (max-width: 560px) {
  .product-d .api-controls .sep { content: ''; display: table; }
}
@media screen and (min-width: 1600px) {
  .product-d .preview { padding:2%;}
}
.product-d .title,
.product-d .specifications{padding: 2%}
.product-d .title ul{padding: 0%}
.product-d .title li{display: inline; float: left;margin-left: 4%;}
.product-d .title li a{color:red;border-bottom: 1px dashed red}
.product-d .title .hom{margin: 0%}
.product-d .specifications li img{width: 5%;}
.product-d .title .color span{color: red}
.product-d .specifications ul{padding: 0%}
.product-d .specifications li{display: block;margin-top:3.5%}
.product-d .specifications .color span{color: red}
.product-d .specifications .color{font-size:30px}
.product-d .specifications .btn{font-size: 19px;padding: 1% 10%;background: #eee;}
.product-d .specifications .btn:hover {transition: all .5s ease-in-out;background: #000;color: #d4b04d;border-color: #000;}
.product-d .specifications .hom p a{color: red}
.checked {color:#d4b04d;}
.product-d .fa-star{width: 5%}
.product-d .tex{width: 50%}
.product-d .svg{width: 50%;float: right;text-align: right;margin-top: -4.85%;}
/* MultiCarousel */
.MultiCarousel { float: left; overflow: hidden; padding:0px 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:2px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over { pointer-events: none; background:#eee;color:#d4b04d;border-color:#eee}
.MultiCarousel img{width: 100%}
.MultiCarousel p{margin-top:5%}
.MultiCarousel .btn-primary{color:#d4b04d;background-color: #eee;border-color: #eee;}
/* MultiCarousel */
.product-d .nav-tabs {border-bottom: 1px solid #000;}
.product-d .nav-tabs .nav-item.show .nav-link,
.product-d .nav-tabs .nav-link.active{color:#d4b04d;background-color:#000;border-color:#000#000#FFF;}
.product-d .nav-tabs .nav-link:hover {border:0px;background: #000;color: #d4b04d;}
.nav-tabs .nav-item{width: 20%;text-align:center}
.nav-item a{color: #000}
/***-- product-d --***/


.input-group{margin-top:-12px}

#search_param{
    border:1px solid #d4b04d;
    border-right:none;
    padding: 5px;
    border-radius:10px 0px 0px 10px;
}
.navbar-brand a{padding: 1px 5px !important}
#searchForm input{border:1px solid #d4b04d !important ;border-left:none !important}
#searchForm .btn-search{background: #d4b04d ;border-color:#d4b04d;border-radius:0px 10px 10px 0px;padding:5px 10px}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("../images/select.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("../images/select.png") white no-repeat calc(60% - 60px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }
.product-d .nav-tabs .nav-item{width: 20%;text-align:center}
.product-d .nav-item a{color: #000}
.product-d .tab-pane{padding: 0% 2%}
.product-d .tab-content img{width: 100%}
/* Three column layout */
.product-d .side {float: left;width:30%;margin-top:10px;font-size: 0.8vw;}
.product-d .middle {margin-top:10px;float: left;width:40%;}
/* Place text to the right */
.product-d .right {text-align: left;padding-left: 3%;}
/* Clear floats after the columns */
.product-d #home .row:after{content: "";display: table;clear: both;}
/* The bar container */
.product-d .bar-container {width: 100%;background-color: #f1f1f1;text-align: center;color: white;}
/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #d4b04d;}
.bar-4 {width: 30%; height: 18px; background-color: #d4b04d;}
.bar-3 {width: 10%; height: 18px; background-color: #d4b04d;}
.bar-2 {width: 4%; height: 18px; background-color: #d4b04d;}
.bar-1 {width: 15%; height: 18px; background-color: #d4b04d;}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .product-d .side, .middle {width: 100%;}
  .product-d .right {display: none;}
}
.product-d .tab-pane .near_by_hotel_wrapper{background:#f5f5f5;}
.product-d .tab-pane .custom_table {border-collapse: separate;border-spacing: 0 10px;margin-top: -3px !important;}
.product-d .tab-pane .custom_table thead tr th {padding: 0px 8px;font-weight: bold;
	font-size: 16px;border: 0 none !important;border-top: 0 none !important;
}
.product-d .tab-pane .custom_table tbody tr {-moz-box-shadow: 0 2px 3px #e0e0e0;
  -webkit-box-shadow: 0 2px 3px #e0e0e0;box-shadow: 0 2px 3px #e0e0e0;
}
.product-d .tab-pane .near_by_hotel_wrapper table tr td {border-right: 1px solid #d2d1d1;}
.product-d .tab-pane .custom_table tbody tr td {background: #fff none repeat scroll 0 0;
	border-top: 0 none !important;margin-bottom: 20px;padding: 10px 8px;font-size: 16px;
}
.product-d .tab-pane .near_by_hotel_wrapper table tr td {border-right: 1px solid #d2d1d1;}
.btn-outline-primary{width: 10%}
.product-d .card-body strong{color: #d4b04d}
.product-d .card-body .btn-outline-primary {color: #000;
  background-color: transparent;background-image: none;border-color: #000;
}
.product-d .card-body .btn-outline-primary:hover{background: black;
  color: #d4b04d;border-color: #000;transition: all .5s ease-in-out
}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
border: 1px solid #ddd;
}
.status-upload form {float: left;width: 100%;height: 192px;}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
}
.status-upload ul {float: left;list-style: none outside none;margin: 0;padding: 0 0 0 15px;width: auto;}
.status-upload ul > li {float: left;}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {background: none repeat scroll 0 0 #606060;color: #fff;}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {border-left-color: #2dcb73;}
.status-upload form button > i{margin-right: 7px;}
.btn-black:hover, .btn-golden{
  background:#d4b04d;
  color:black;
  border:1px solid #d4b04d;
}
.btn-golden:hover,.btn-black{
  background:black;
  color:#d4b04d;
  border:1px solid  black;
}
/***-- product-d --***/


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.login input[type=button], input[type=submit], input[type=reset]  {
  background-color: #d4b04d;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(218, 160, 4, 0.4);
  box-shadow: 0 10px 30px 0 rgba(218, 160, 4, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width:85%
}

.login input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #d4b04d;
  color:#fff
}

.login input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #d4b04d;
}

.login input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}
.underlineHover:hover {
  color: #0d0d0d;
}
.underlineHover:hover:after{
  width: 100%;
}
.login h1{
    color:#60a0ff;
}
/* OTHERS */
*:focus {
    outline: none;
} 
#icon {
  width:30%;
}
.profile-user{background:#eee}
.profile-user .form-group{margin: 4% 2%}
.body-profile .h-s{background:#fff;padding:1% 2%}
 .profile-usermenu  li:hover{
     background:#ddd
 }
.profile-usermenu  li span{font-size:1.2vw;padding-left:10px}
.btn-black:hover, .btn-golden{
    background:#d4b04d;
    color:black;
    border:1px solid  #d4b04d;
}
.btn-golden:hover,.btn-black{
    background:black;
    color:#d4b04d;
    border:1px solid  black;
}
.profile-userbuttons .btn{
    width:45% !important
}
.body-profile{margin-top:1%;}
.side{margin-top:1%;border:1px solid #eee;border-radius:10px}


/* Profile container */
.profile {
margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
padding: 20px 0 10px 0;
background: #fff;
}

.profile-userpic img {
float: none;
margin: 0 auto;
width: 50%;
height: 50%;
margin-left:25%;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
border-radius: 50% !important;
}
.profile-usertitle {
text-align: center;
margin-top: 20px;
}
.profile-usertitle-name {
color: #5a7391;
font-size: 16px;
font-weight: 600;
margin-bottom: 7px;
}
.profile-usertitle-job {
text-transform: uppercase;
color: #5b9bd1;
font-size: 12px;
font-weight: 600;
margin-bottom: 15px;
}
.profile-userbuttons {
text-align: center;
margin-top: 10px;
}
.profile-userbuttons .btn {
text-transform: uppercase;
font-size: 11px;
font-weight: 600;
padding: 6px 15px;
margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
margin-right: 0px;
}
.profile-usermenu {
margin-top: 30px;
}
.profile-usermenu ul li {
text-align:right;
border-bottom: 1px solid #f0f4f7;
width: 100%;
padding: 2%;
background: #eee;
margin: 1% 4%;
border-radius:5px
}
.profile-usermenu ul {padding:0px}
.profile-usermenu ul li:last-child {
border-bottom: none;
}
.profile-usermenu ul li a {
direction:rtl;
color: #93a3b5;
font-size: 14px;
font-weight: 400;
}

.profile-usermenu ul li a i {
margin-right: 8px;
font-size: 14px;
}

.profile-usermenu ul li a:hover {
color: #d4b04d;
}

.profile-usermenu ul li.active {
border-bottom: none;
}

.profile-usermenu ul li.active a {
color: #d4b04d;
margin-left: -2px;

}

/* Profile Content */
.profile-content {
padding: 20px;
background: #fff;
min-height: 540px;

}

/***-- product-l --***/
.product-l .col-md-3 .list-group a{color: #000}
.product-l{background: #eee;}
.product-l .col-md-3,
.product-l .col-md-9{padding:0%}
.product-l .card {margin-bottom: 15px;}
.product-l .icon-action { margin-top: 5px;float: right;font-size: 80%;}
.product-l .list-group-item .title { margin-top: 5px; margin-bottom: 12px;font-weight: 600;}
.product-l .list-group li{display: block;}
.product-l .list-group ul{padding:0%}
.product-l .collapse a:hover{color:red;transition: all .5s ease-in-out;}
.product-l .switch {position: relative;display: inline-block;width:70%;height: 34px;}
.product-l .switch input { opacity: 0;width: 0;height: 0;}
.product-l .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;
    bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;
}
.product-l .slider:before {position: absolute;
content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;
background-color: white;-webkit-transition: .4s;transition: .4s;
}
.product-l input:checked + .slider {background-color: #2196F3;}
.product-l input:focus + .slider {
box-shadow: 0 0 1px #2196F3;}
.product-l input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
/* Rounded sliders */
.product-l .slider.round {border-radius: 34px;}
.product-l .slider.round:before {border-radius: 50%;}
.product-l .view-group {display: -ms-flexbox;display: flex;
  -ms-flex-direction: row;flex-direction: row;padding-left: 0;margin-bottom: 0;
}
.product-l .thumbnail{margin-bottom:0px;padding: 0px;
  -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;
}
.product-l .item.list-group-item{float: none;width: 100%;background-color: #fff;border: 0;
  margin-bottom: 30px;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;padding: 0 1rem;
}
.product-l .item.list-group-item .img-event {float: left;width: 30%;}
.product-l .item.list-group-item .list-group-image{margin-right: 10px;}
.product-l .item.list-group-item .thumbnail{margin-bottom: 0px;display: inline-block;}
.product-l .item.list-group-item .caption{float: left;width: 70%;margin: 0;}
.product-l .item.list-group-item:before,
.product-l .item.list-group-item:after{display: table;content: " ";}
.product-l .item.list-group-item:after{clear: both;}
.product-l .my-3{margin: 0% !important;padding: 1%;background: #fff}
.product-l .c-listing__sort {
  list-style: none;
  line-height: 34px;
  padding: 0;
  margin-top: 1px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 44px;
  width: 100%;
}
.product-l .c-listing__sort::before {
  display: inline-block;
  content: attr(data-label);
  color: #3b3b3b;
  margin-left: 5px;
  font-size: 12px;
  font-size: 1vw;
  line-height: 21px;
  vertical-align: middle;
  white-space: nowrap;
}
.product-l .view-group .col-lg-4{padding: 0%}
.product-l .pull-right {
  right: 0px !important;
}
.product-l .my-3 li{margin-left:1%}
.product-l .my-3 li a{background:#eee;border-radius: 5px;padding: 0px 10px;color: #000;}
.product-l .my-3 li a:hover{background: #000;color: #d4b04d;transition: all .5s ease-in-out}
.product-l .lead {
  font-size: 1rem;
  color: red
}
/***-- product-l --***/
/***-- profile --***/

.profile .table-bordered{border:0px}
.profile .movie-table-head{background: #eee}
.profile .profile-content h4 .flaticon-placeholder{font-size:40px} 
.profile .profile-content h4 a{color: #000}
.profile .profile-content .location{border:2px dashed #d4b04d;
  padding-top: 0%;
  font-size: 40px;
  width: 100%;
  height: 200px;
  color: #000;
}
.location-n{width: 100%}

/***-- profile --***/