    /*
    Flaticon icon font: Flaticon
    Creation date: 23/01/2019 09:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-like:before { content: "\f101"; }
.flaticon-login:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-magnifying-glass:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
.flaticon-back:before { content: "\f107"; }
.flaticon-24-hours:before { content: "\f108"; }
.flaticon-credit-card:before { content: "\f109"; }
.flaticon-list-with-dots:before { content: "\f10a"; }
.flaticon-champion:before { content: "\f10b"; }
.flaticon-logistics-delivery-truck-in-movement:before { content: "\f10c"; }
.flaticon-phone-call:before { content: "\f10d"; }
.flaticon-smartphone:before { content: "\f10e"; }
.flaticon-telegram-logo:before { content: "\f10f"; }
.flaticon-facebook:before { content: "\f110"; }
.flaticon-twitter:before { content: "\f111"; }
.flaticon-instagram:before { content: "\f112"; }
.flaticon-share:before { content: "\f113"; }
.flaticon-placeholder:before { content: "\f114"; }
.flaticon-mail:before { content: "\f115"; }
    
    $font-Flaticon-shopping-cart: "\f100";
    $font-Flaticon-like: "\f101";
    $font-Flaticon-login: "\f102";
    $font-Flaticon-avatar: "\f103";
    $font-Flaticon-magnifying-glass: "\f104";
    $font-Flaticon-down-arrow: "\f105";
    $font-Flaticon-next: "\f106";
    $font-Flaticon-back: "\f107";
    $font-Flaticon-24-hours: "\f108";
    $font-Flaticon-credit-card: "\f109";
    $font-Flaticon-list-with-dots: "\f10a";
    $font-Flaticon-champion: "\f10b";
    $font-Flaticon-logistics-delivery-truck-in-movement: "\f10c";
    $font-Flaticon-phone-call: "\f10d";
    $font-Flaticon-smartphone: "\f10e";
    $font-Flaticon-telegram-logo: "\f10f";
    $font-Flaticon-facebook: "\f110";
    $font-Flaticon-twitter: "\f111";
    $font-Flaticon-instagram: "\f112";
    $font-Flaticon-share: "\f113";
    $font-Flaticon-placeholder: "\f114";
    $font-Flaticon-mail: "\f115";