	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/01/2019 09:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-like:before { content: "\f101"; }
.flaticon-login:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-magnifying-glass:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-next:before { content: "\f106"; }
.flaticon-back:before { content: "\f107"; }
.flaticon-24-hours:before { content: "\f108"; }
.flaticon-credit-card:before { content: "\f109"; }
.flaticon-list-with-dots:before { content: "\f10a"; }
.flaticon-champion:before { content: "\f10b"; }
.flaticon-logistics-delivery-truck-in-movement:before { content: "\f10c"; }
.flaticon-phone-call:before { content: "\f10d"; }
.flaticon-smartphone:before { content: "\f10e"; }
.flaticon-telegram-logo:before { content: "\f10f"; }
.flaticon-facebook:before { content: "\f110"; }
.flaticon-twitter:before { content: "\f111"; }
.flaticon-instagram:before { content: "\f112"; }
.flaticon-share:before { content: "\f113"; }
.flaticon-placeholder:before { content: "\f114"; }
.flaticon-mail:before { content: "\f115"; }